<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>List Products</title>
</head>

<body>

    <table class="w3-table ">
        
        <tr class="w3-red">
            <th>Product Name</th>
           
            <th>Category</th>
 <th>List Price</th>
        </tr>  <% for (let i = 0; i < products.length; i++) { %>
  <tr class="w3-hover-blue">
  
                <td><%= products[i].product_name %></td>
              
                <td><%= products[i].category %></td>
             <td><%= products[i].list_price %></td>
 </tr>
    
 
<% } %>
        <tr class="w3-hover-blue">
          
            <td> Potatoes
            </td>
            <td> 40.00
            </td>
            <td>Dried Fruit & Nuts
            </td>
        </tr>
        <tr class="w3-hover-blue">
            <td> Tomatoes
            </td>
            <td> 20.00
            </td>
            <td>Dried Fruit & Nuts
            </td>
        </tr>
 
    </table>

</body>

</html>